@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
:root {
  width: 100%;
  height: 100%;

  font-family: "Inter", sans-serif;
}

.hero {
  --nav-height: 72px;

  height: calc(100vh - var(--nav-height));
}

code {
  font-family: "Roboto Mono", monospace;
}

nav {
  background-size: 25%;
  background-repeat: repeat-x;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.blinking-cursor:after {
  content: "|";
  @apply bg-lime-500;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    90deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #00ff00,
    #7d7dff,
    #9900ff,
    #ff00ff,
    #ff0000
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 10s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
